<form class="form-inline">
  <div class="Form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
  </div>
  <button  class ="btn vtn-outline-success">BUSCAR</button>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
    <th> #<th>
    <th>Tema<th>
    <th>Local<th>
    <th>Data<th>
    <th>Quantidade de Pessoas<th>
    <th>Lote<th>
    <th>Opçoes</th>
</tr>
</thead>
<tbody>
  <tr>
  <td><td>
    <td><td>
    <td><td>
    <td><td>
    <td><td>
    <td><td>
    <td></td>
    </tr>
</tbody>
</table>